.authform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 95vh;
}

h1 {
  text-align: center;
  font-weight: 900;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mutual-logo {
  height: 20vh;
  width: 20vh;
}

.formInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80vw;
}

.authbuttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8vh;
}

.alreadymember {
  width: 60vw;
  height: 8vh;
  font-size: 1rem;
  background-color: #888888;
}
