nav.navbar {
  display: flex;
  padding: 0px 20px;
  background: #2e2e2e;
  height: 8vh;
  color: white;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}
